.calander-container {
  text-align: center;
}
.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#date1 {
  margin: 10px;
}
#calender {
  padding: 20px;
}
table {
  margin: auto;
}
.tile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}
.tile:hover {
  background-color: lightgray;
}

.active {
  background-color: rgb(91, 91, 253);
  color: #fff;
}
.active:hover {
  background-color: blue;
}
